# Налаштування для відправки звіту в telegram
TG_BOT_ON=True  # default =True [True, False]
TG_BOT_TOKEN=add_some_telegram_token
TG_CHAT_ID=add_some_telegram_chat_id

# Базовий шлях до проектів
BASE_DIR=/home/ifess

# Список проектів у порядку їх запуску (через кому)
PROJECTS=dns,traefik,portainer,glances
# Список проектів, які вимикаються останніми (через кому)
CRITICAL_PROJECTS=portainer,traefik,dns

# Налаштування динамічної паузи (в секундах)
# Максимальний час очікування старту проекту (у секундах)
CHECK_TIMEOUT=60
# Інтервал між перевірками статусу (у секундах)
CHECK_INTERVAL=2


